@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Animation Triggers */

.header {
  animation-delay: 100ms;
  animation-duration: 1.5s;
  animation-name: fadeInUp;
}

.subheader {
  animation-delay: 100ms;
  animation-duration: 1.5s;
  animation-name: fadeInUp;
}