/* 

COLORS: #c3aa94 LIGHT BROWN
        #f1f1f1 OFF-WHITE
        #ae957f DARKER BROWN
        #554f49 OFF-BLACK
        #d99f55 ORANGEISH
        #eac591 SAND
*/

html {
  background-image: linear-gradient(#ae957f, #c3aa94);
  color: #f1f1f1;
  font-size: 16px;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
}