/* 

COLORS: #c3aa94 LIGHT BROWN
        #f1f1f1 OFF-WHITE
        #ae957f DARKER BROWN
        #554f49 OFF-BLACK
        #d99f55 ORANGEISH
        #eac591 SAND
*/

/* Base */

@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap');

html {
  color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

/* Specifics */

/* Navbar */

.nav-hero {
  background-image: linear-gradient(#ae957f, #c3aa94);
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: 0 1.5rem;
  text-transform: uppercase;
}

.buy-button {
  border: 1px solid #f1f1f1;
  border-radius: 75095px;
  padding: 0.55rem 1rem;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.headline {
  font-size: 4rem;
}

.headline-sub {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.0625rem;
  margin-top: 1rem;
}

.headline-sub__bold {
  font-weight: 600;
}

/* .feature {
  background-image: #fff;
  min-height: 100vh;
} */